* {
    margin: 0;
    padding: 0;
}

.body {
    font-family: 'Roboto', sans-serif;
    font-size: 2rem;
    background: linear-gradient(to bottom right, rgb(179, 221, 223), rgb(61, 102, 162));
    position: relative;
}

.wrapper-slider {
    display: flex;
    justify-content: center;
    position: relative;
    max-width: 90%;
    height: 100vh;
    margin: 0 auto;
}

.slider {
    position: relative;
    overflow: hidden;
    max-width: 800px;
    height: auto;
}

.slides {
    width: 400%;
    height: 100%;
    display: flex;
    align-items: center;
    transition: .6s;

}

input[name="r"] {
    position: absolute;
    visibility: hidden;
}

.navigation-wrapper {
    margin-top: 80%;
    position: absolute;
    display: flex;
    display: flex;
    width: 100%;
    justify-content: center;

}

.label-for-radio {
    margin-left: 0.5rem;
    width: 30px;
    height: 15px;
    border: 2px solid #ffff;
    border-radius: 2rem;
    cursor: pointer;
    transition: .5s;
}

.label-for-radio:hover {
    background-color: rgb(11, 111, 233);
}

.label-for-radio-first {
    margin-left: 0;
}



.slide-items {
    width: 25%;
}

.img {
    max-width: 100%;
    /* height: auto; */
    display: block;
    margin: 0 auto;
}

/* .text {
    display: block;
    margin: 0 auto;
    width: 30%;
    text-align: center;
} */

#r1:checked ~ .s1 {
    margin-left: 0;
}

#r2:checked ~ .s1 {
    margin-left: -25%;
}

#r3:checked ~ .s1 {
    margin-left: -50%;
}

#r4:checked ~ .s1 {
    margin-left: -75%;
}